@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;600&display=swap');
:root {
  --darkgrayblue: hsl(217, 19%, 35%);
  --darkblue: hsl(214, 17%, 51%);
  --grayblue: hsl(212, 23%, 69%);
  --lightgrayblue: hsl(210, 46%, 95%);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Manrope", BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--lightgrayblue);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 60rem;
  height: 20rem;
  margin-top: 10rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: "image info info";
  border-radius: 1rem;
  background: white;
  color: var(--darkgrayblue);
}

.image {
  grid-area: image;
  height: 100%;
  width: 100%;
  border-radius: 1rem 0 0 1rem;
  margin: 0;
}

.info {
  grid-area: info;
  margin: 1rem 2rem;
}

.writer {
  margin: 3rem 0 0 0;
  display: flex;
  align-items: center;
}

.profile-pic{
  width: 4rem;
  border-radius: 50%;
  margin-right: 1rem;
}

h1 {
  font-weight: 600;
  font-size: 1.6rem;
}

p {
  font-weight: 500;
  margin: 0;
  color: var(--grayblue);
}

h3 {
  font-weight: 600;
  margin: 1rem;
  display: inline;
}

h4 {
  font-weight: 500;
  margin: 1rem;
  display: inline;
  color: var(--grayblue);
}

.share{
  margin-left: 15rem;
  text-align: center;
  vertical-align: middle;
  background: var(--lightgrayblue);
  width: 3rem;
  height: 3rem;
  border-radius:50%
}

.share-icon{
  margin: 1rem 0;
}